SQL_DATABASE[]
SQL_USER[]
SQL_HOSTNAME[]
SQL_HOSTPORT[]
DOMAIN_NAME[]
WP_TITLE[]
WP_ADMIN_USER[]
WP_USER[]
WP_ADMIN_EMAIL[]
WP_USER_EMAIL[]
ALPINE_VERSION[]
DEBIAN_VERSION[]

# these are put in docker secrets:
# SQL_PASSWORD[]
# SQL_ROOT_PASSWORD[]
# WP_ADMIN_PASSWORD[]
# WP_PASSWORD[]