SQL_DATABASE[]
SQL_USER[]
SQL_HOST[]
DOMAIN_NAME[]
WP_TITLE[]
WP_ADMIN_USER[]
WP_USER[]
WP_ADMIN_EMAIL[]
WP_USER_EMAIL[]

## Theese get auto fetched by the script.
# ALPINE_VERSION[]
# DEBIAN_VERSION[]

# put in secrets later:
# SQL_PASSWORD[]
# SQL_ROOT_PASSWORD[]
# WP_ADMIN_PASSWORD[]
# WP_PASSWORD[]